# Do not forget to add also your variables in your Cloudflare web console

# "preview" | "production"
ENV="preview"

# Auth Private Keys
AUTH_SESSION_SECRET_KEY="session_secret_key"
AUTH_RESET_PASSWORD_SECRET_KEY="reset_password_secret_key"

# Swagger docs Basic Auth
DOCS_USER="root"
DOCS_PASSWORD="toor"
DOCS_REALM="cloudfire-swagger"

# [Seed] Admin User
ADMIN_USER="admin@admin.com"
ADMIN_PASSWORD="adminadmin"

# [Only needed in local environment for Drizzle studio] Get yours from: https://dash.cloudflare.com/ > Workers & Pages
CF_ACCOUNT_ID=""
# [Only needed in local environment for Drizzle studio] Get yours from: https://dash.cloudflare.com/profile/api-tokens (add D1 edit permissions)
CF_TOKEN=""