# [Only needed for Drizzle studio] Get yours from: https://dash.cloudflare.com/ > Workers & Pages
CF_ACCOUNT_ID=""
# [Only needed for Drizzle studio] Get yours from: https://dash.cloudflare.com/profile/api-tokens (add D1 edit permissions)
CF_TOKEN=""